.blog {
	&__title {
		margin: 0px 0px 50px 0px;
		@media (max-width: ($md3 + px)) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__acticle-name {
		font-size: 30px;
		font-weight: 500;
		line-height: math.div(44, 30) * 100%;
		color: inherit;
		transition: color 0.3s ease 0s;
		display: inline-block;
		margin: 0px 0px 10px 0px;
		@media (min-width: ($md2 + px)) {
			&:hover {
				color: #ff6464;
			}
		}
		@media (max-width: ($md3 + px )) {
			font-size: 26px;
		}
	}

	&__item {
		border-bottom: 1px solid gray;
		padding: 0px 0px 30px 0px;
		margin: 0px 0px 30px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: ($md3 + px )) {
			margin: 0px 0px 25px 0px;
			padding: 0px 0px 25px 0px;
		}
	}

	&__info {
		display: flex;
		font-size: 20px;
		margin: 0px 0px 10px 0px;
		@media (max-width: ($md3 + px )) {
			font-size: 16px;
		}
	}

	&__separator {
		margin: 0px 15px;
	}

	&__category {
		color: #8695a4;
	}

	&__items {
		margin: 0px 0px 60px 0px;
		@media (max-width: ($md3 +px)) {
			margin: 0px 0px 30px 0px;
		}
	}
}
