.hello {
	padding: 38px 0px 71px 0px;
	@media (max-width: ($md2 + px)) {
		padding: 38px 0px 50px 0px;
	}

	@media (max-width: ($md3 + px)) {
		padding: 0px 0px 60px 0px;
	}
	&__container {
		display: flex;
		@media (max-width: ($md3 + px)) {
			flex-direction: column-reverse;
			text-align: center;
			align-items: center;
		}
	}

	&__content {
		align-items: flex-start;
		flex: 1 1 auto;
		padding: 18px 110px 0px 0px;
		*:last-child {
			margin-bottom: 0;
		}
		@media (min-width: ($md1 + px)) {
			padding: 18px 50px 0px 0px;
		}
		@media (max-width: ($md3 +px )) {
			padding: 0px 0px 0px 0px;
		}
	}

	&__title {
		margin: 0px 0px 25px 0px;
		@media (max-width: ($md3 +px )) {
			margin: 40px 0px 20px 0px;
		}
	}

	&__text {
		margin: 0px 0px 35px 0px;
		@media (max-width: ($md3 +px )) {
			padding: 0 15px;
			margin: 0px 0px 25px 0px;
		}
	}
	&__btn {
		margin: 0px 0px 25px 0px;
		@media (max-width: ($md3 +px )) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__avatar {
		flex: 0 0 243px;
		height: 243px;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		box-shadow: -5px 13px 0 0px #edf7fa;
		@media (max-width: ($md3 + px)) {
			flex: 0 0 170px;
		}

		img {
			max-width: 100%;
			@media (max-width: ($md3 +px )) {
				width: 170px;
			}
		}
	}
}
//========================================================================================================================================================
.recent-posts {
	background: #edf7fa;
	padding: 25px 0px 13px 0px;

	@media (max-width: ($md3 + px)) {
		padding: 25px 0px 23px 0px;
	}

	&__header {
		display: flex;
		margin: 0px 0px 20px 0px;
	}

	&__title {
		padding: 0px 20px 0px 0px;
		flex: 1 1 auto;
	}

	&__viewall {
		color: #00a8cc;
		flex: 0 0 auto;
		font-size: 16px;
		line-height: math.div(16, 24) * 100%;
		text-align: right;

		@media (max-width: ($md3 + px)) {
			display: none;
		}

		@media (min-width: ($md3 + px)) {
			&:hover {
				color: #ff6464;
			}
		}
	}

	&__items {
		margin: 0px -10px;
		@media (min-width: ($md3+ px)) {
			display: flex;
		}
	}

	&__column {
		flex: 0 1 50%;
		padding: 0px 10px;
		margin: 0px 0px 17px 0px;
	}
}

.recent-post {
	height: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;
	padding: 20px;

	@media (min-width: ($md3+ px)) {
		padding: 15px;
	}
	*:last-child {
		margin-bottom: 0;
	}

	&__title {
		display: inline-block;
		color: inherit;
		font-size: 26px;
		font-weight: 700;
		line-height: math.div(38, 26) * 100%;
		transition: color 0.3s ease 0s;
		margin: 0px 0px 17px 0px;

		@media (min-width: ($md2 + px)) {
			&:hover {
				color: #ff6464;
			}
		}
		@media (min-width: ($md3+ px)) {
			font-size: 22px;
			margin: 0px 0px 10px 0px;
		}
	}
	&__info {
		margin: 0px 0px 15px 0px;
		font-size: 18px;
		line-height: math.div(26, 18) * 100%;
		span {
			margin: 0px 10px;
		}
		@media (min-width: ($md3+ px)) {
			font-size: 16px;
		}
	}

	&__text {
		margin: 0px 0px 15px 0px;
	}
}
//========================================================================================================================================================
.featured-works {
	margin: 30px 0px 80px 0px;
	@media (max-width: ($md3 + px)) {
		padding: 30px 0px 30px 0px;
	}

	&__title {
		margin: 0px 0px 20px 0px;
	}

	&__items {
		@media (max-width: ($md3 + px)) {
			display: flex;
			overflow: auto;
			.works__item {
				flex: 0 0 90%;
				margin: 0px 15px 0px 0px;
			}
		}
	}
}
