.works {
	&__main-title {
		margin: 0px 0px 45px 0px;
		@media (max-width: ($md3 + px)) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__item {
		padding: 0px 0px 30px 0px;
		margin: 0px 0px 30px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		border-bottom: 1px solid #e0e0e0;

		@media (min-width: ($md3 + px )) {
			display: flex;
			align-items: flex-start;
		}
	}

	&__image {
		display: block;
		flex: 0 0 246px;
		border-radius: 6px;
		min-height: 180px;
		overflow: hidden;
		@media (max-width: ($md3 + px )) {
			padding: 0px 0px 60% 0px;
			margin: 0px 0px 17px 0px;
		}
	}

	&__body {
		flex: 1 1 auto;
		@media (min-width: ($md3 + px )) {
			padding: 0px 0px 0px 18px;
		}
	}

	&__title {
		color: inherit;
		display: inline-block;
		font-size: 30px;
		font-weight: 700;
		line-height: math.div(44, 30) * 100%;
		margin: 0px 0px 15px 0px;
		@media (max-width: ($md3 + px)) {
			font-size: 24px;
		}
		@media (min-width: ($md2 + px)) {
			&:hover {
				color: #ff6464;
			}
		}
	}

	&__info {
		display: flex;
		align-items: center;
	}

	&__year {
		background: #142850;
		border-radius: 16px;
		height: 25px;
		padding: 0px 10px;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 900;
		font-size: 18px;
		line-height: math.div(60, 18) * 100%;
		display: inline-flex;
	}

	&__category {
		color: #8695a4;
		font-size: 20px;
		margin: 0px 0px 0px 25px;
	}

	&__text {
		margin: 20px 0px 0px 0px;
	}

	&__items {
		margin: 0px 0px 60px 0px;
		@media (max-width: ($md3 +px)) {
			margin: 0px 0px 30px 0px;
		}
	}
}
